<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virendra Jagtap</title>
    <link rel="shortcut icon" href="/public/images/favicon-32x32.png">

    <!-- bootstrap cdn links -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!-- bootstrap-icons cdn -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <!--Font awesome (version:6.2.1) cdn link for all   -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- local styel sheet -->
    <link rel="stylesheet" href="../public/styles/style.css">

</head>
<body>

  <!-- Navbar menu -->
  <div class="container-fluid main_menu">
        <div class="col-md-12 col-12 ">

         <nav class="navbar navbar-expand-lg navbar-light  ">
             <div class="container-fluid">
               <a class="navbar-brand " href="/"><img src="/public/images/profile-pic.png" class="rounded rounded-circle"> Virendra Jagtap </a>
               <button class="navbar-toggler navtoggle" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                 <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarSupportedContent">
                 <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link "  aria-current="page" href="/">HOME</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#about">ABOUT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#projects">PROJECTS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">CONTACT</a>
                    </li>
                 </ul>
               </div>
             </div>
           </nav>
        </div>
    
 </div>

<!--main Section -->
<div class="section col-md-11 col-12 mx-auto">
    <div class="left_div col-12 col-md-6">
            <div>
              <h2>HEY !! ................... </h2>
              <h1>I am <span>VIRENDRA JAGTAP</span></h1>
              <p>Full Stack Web Developer Passionate About Coding. Always ready to try Hands-on New and Emerging Technologies.</p>
            </div>
            <div class="btnsDiv">
                <button class="btn btn-info rounded rounded-2"><a class="nav_link_contact" href="#contact">HIRE ME</a></button>
                <button class="btn btn-outline-info "><a class="hire_me_link" href="public/docs/Virendra_10-01_Dev.pdf" download>GET CV</a></button>
            </div>
    </div>
    <div class="right_div col-12 col-md-6">
            <img id="img1" src="/public/images/home-img.png"  alt="HomePage image">
    </div>
</div>

<!--About Section -->
<div class="abt_div" id="about">
    <div class="title_div">
          <h1>ABOUT ME</h1>
          <div class="dash_div">
            
          </div>
          <p>Here you will find more information about me, what I do, and my current skills mostly in terms of programming and technology</p>
    </div>
    <div class=" abt_section">
         <div class=" abt_left_div box">
                <div class="abt_sec_title">
                  <h1>GET KNOW TO ME</h1>
                  <div class="dash_div"></div>
                </div>
                <div class="edu_div">
                    <div class="title_box">EDUCATION</div>
                    <dl>
                      <dd>B.Tech in Mechanical Engineering</dd>
                      <div class="edu_steps">
                        <ul>
                          <li>College of Engineering, Pune (COEP)</li>
                          <li>Grades: 6.42 CGPA</li>
                          <li>Aug 2018 - June 2022</li>
                        </ul>
                      </div>

                      <dd>Senior Secondary (XII<sup>th</sup>)</dd>
                      <div class="edu_steps">
                        <ul>
                          <li>S.B.E.S. High School, Aurangabad</li>
                          <li>Grades: 85.56 %</li>
                          <li>June 2016 - May 2018</li>
                        </ul>
                      </div>

                      <dd>Junior Secondary (X<sup>th</sup>)</dd>
                      <div class="edu_steps">
                        <ul>
                          <li>Saraswati Bhuvan School, Aurangabad</li>
                          <li>Grades: 96.20 %</li>
                          <li>June 2015 - May 2016</li>
                        </ul>
                      </div>
                    </dl>
                </div>
                <div class="more_div">
                    <div class="title_box">MORE</div>
                    <p>I'm an engineer passionate about coding. Always ready to try hands-on new and emerging technologies.</p>
                    <p>I have a strong foundation as WEB DEVELOPER and I am skilled in creating interactive and visually appealing websites.</p>
                    <p>I'm open to <span style="color: #1db1f1;">Job</span> opportunities where I can contribute, learn and grow. If you have a good opportunity that matches my skills and experience then don't hesitate to <span style="color: #1db1f1;">contact</span> me.</p>
                    
                </div>
                <div class="btn_contact">
                  <button class="btn btn-info"><a class="nav_link_contact" href="#contact">Contact</a></button>
                </div>
         </div>
         <div class=" abt_right_div box">
             
              <div class="abt_sec_title">
                <h1>MY SKILLS</h1>
                  <div class="dash_div"></div>
              </div>
                  
              <div>
                  <div class="title_box">WEB DEVELOPMENT</div>
                  <div class="logo_div">
                    <div class="each_logo_div">
                      <img class="skills_logo" src="/public/images/html_img.png" alt="HTML-img">
                      <p>HTML</p>
                    </div>
                    <div class="each_logo_div">
                      <img class="skills_logo" src="/public/images/css-img.png" alt="CSS-img">
                      <p>CSS</p>
                    </div>
                    <div class="each_logo_div">
                      <img class="skills_logo" src="/public/images/js-img.png" alt="JS-img">
                      <p>JavaScript</p>
                    </div>
                    <div class="each_logo_div">
                      <img class="skills_logo" src="/public/images/bootstrap-img.png" alt="bootstrap-img">
                      <p>BootStrap</p>
                    </div>
                    <div class="each_logo_div">
                      <img class="skills_logo" src="/public/images/React-img.png" alt="NodeJS-img">
                      <p>React JS</p>
                    </div>
                    <div class="each_logo_div">
                      <img class="skills_logo" src="/public/images/nodejs-img.png" alt="NodeJS-img">
                      <p>Node JS</p>
                    </div>
                    <div class="each_logo_div">
                      <img class="skills_logo" src="/public/images/express-img.png" alt="ExpressJS-img">
                      <p>Express JS</p>
                    </div>
                    <div class="each_logo_div">
                      <img class="skills_logo" src="/public/images/MongoDb-img.png" alt="MongoDB-img">
                      <p>MongoDB</p>
                    </div>
                    
                  </div>
              </div>
              <div>
                  <div class="title_box">LANGUAGES</div>
                  <div class="logo_div">
                    <div class="each_logo_div">
                      <img class="skills_logo" src="/public/images/c-programming-img.png" alt="C_Programming-logo">
                      <p>C</p>
                    </div>
                    <div class="each_logo_div">
                      <img class="skills_logo" src="/public/images/c++_img.png" alt="C++_Programming-logo">
                      <p>C++</p>
                    </div>
                    
                  </div>
              </div>
              <div>
                <div class="title_box">TOOLS</div>
                <div class="logo_div">
                  <div class="each_logo_div">
                    <img class="skills_logo" src="/public/images/git-img.png" alt="Git-logo">
                    <p>Git</p>
                  </div>
                  <div class="each_logo_div">
                    <img class="skills_logo" src="/public/images/github-img.png" alt="GitHub-logo">
                    <p>GitHub</p>
                  </div>
                  <div class="each_logo_div">
                    <img class="skills_logo" src="/public/images/postman-img.png" alt="Postman-logo">
                    <p>Postman</p>
                  </div>
                  
                </div>
              </div>
         </div>
    </div>
</div>

<!-- Projects section -->
<div class="proj_div" id="projects">
    <div class="title_div">
        <h1>PROJECTS</h1>
        <div class="dash_div">
        </div>
        <p>Here you will find some of my personal projects that I created with each project containing its project stack</p>
    </div>
    <div class="proj_section">
          <div class="proj_cont">
               <div class="proj_top">
                  <img src="public/images/project-Roadtojs-img.png" alt="proj-img">
               </div>
               <div class="proj_bot">
                      <h1>Road To JS</h1>
                      <p style="text-align: center;">Road To JS is a platform that contains the collection of JavaScript begineers friendly projects in one place.</p>
                      <div>
                       
                        <button onclick="openProject(event)" name="roadtojsdemo" id="roadtojsdemo" name="" id="" class="btn btn-dark">Demo</button>
                        <button onclick="navToGitHub(event)" name="roadtojscode" id="roadtojscode" class="btn btn-dark">Code</button>
                      </div>
                 </div>
          </div>
          <div class="proj_cont">
            <div class="proj_top">
               <img src="/public/images/weather-proj-img.png" alt="proj-img">
            </div>
            <div class="proj_bot">
                    <h1>LiveWeather App</h1>
                    <p style="text-align: center;">This web application, utilizing Realtime API, delivers accurate and
                      current weather information.</p>
                    <div>
                      <button onclick="openProject(event)" name="liveweatherdemo" id="liveweatherdemo" class="btn btn-dark">Demo</button>
                      <button onclick="navToGitHub(event)" name="liveweathercode" id="liveweathercode" class="btn btn-dark">Code</button>
                    </div>
            </div>
         </div>
    </div>
</div>

<!-- Contact Section -->
<div class="contact_div" id="contact">
  <div class="title_div">
      <h1>CONTACT</h1>
      <div class="dash_div">
        
      </div>
      <p>Feel free to Contact me by submitting the form below and I will get back to you as soon as possible</p>
  </div>
  <div class="contact_section">
       <div class="frm_box">
              <form action="https://formspree.io/f/xayznoen" method="POST">
                    
                    <div>
                      <label for="userName">Name</label><br>
                      <input class="form-control form-control-lg" type="text" id="userName" name="Name" placeholder="Enter Your Name">
                    </div>
                    <div>
                      <label for="userEmail">Email</label><br>
                      <input class="form-control form-control-lg" type="email" id="userEmail" name="email" placeholder="Enter Your Email">
                    </div>
                    <div>
                      <label for="userMsg">Message</label><br>
                      <textarea class="form-control form-control-lg" id="userMsg" name="message" rows="8" placeholder="Enter Your Message"></textarea>
                    </div>
                    <div class="frmButtonDiv">
                      <button class="btn btn-info" type="submit">Submit</button>
                    </div>
            </form> 
       </div>
       <div class="contact_right_div">
            <img src="/public/images/contact-img.png" alt="contact-img">
       </div>
  </div>
</div>

<!-- footer section -->
<div class="footer_div" >
     <div class="footer_top_div"></div>
     <div class="footer_clr_div">
           <h1>VIENDRA JAGTAP</h1>
           <p>Cricket is my first love followed by coding! Love cricket as much as I do? Let's talk about how awesome it is! We can code while we watch cricket! <br>Email me :&nbsp;<span style="color: #1db1f1;"> jagtapvr18.mech@coep.ac.in</span></p>
           
           <div class="contact_logo">
                <a href="https://linkedin.com/in/virendra-jagtap-35b321197" target="_blank"><img src="public/images/linkedin.png" alt="linkedin-logo"></a>
                <a href="https://github.com/Virendra360" target="_blank"><img style="background-color: white;" src="public/images/github-img.png" alt="github-logo"></a>
              
           </div>
           <hr width="90%">
           <p style="font-size: 14px;">Copyright &copy; Virendra Jagtap 2023.</p>
     </div>
</div>


<!-- local script file -->
<script src="public/scripts/script.js"></script>
<!-- jquery cdn -->
<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
<!-- bootstrap js cdn -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    
</body>
</body>
</html>